{% sw_extends "@Storefront/storefront/component/payment/payment-method.html.twig" %}

  {% block component_payment_method_description %}
      <div class="payment-method-description">
          <strong>{{ payment.translated.name }}</strong>
          {% if payment.translated.description %}
              {% set paymentDescription = payment.translated.description|raw %}

              {% if not payment.id is same as(selectedPaymentMethodId) %}
                  {% set paymentDescription = (paymentDescription|length > 75 ? paymentDescription[:75] ~ ' ...' : paymentDescription) %}
              {% endif %}

              <p title="{{ payment.translated.description|raw }}">{{ paymentDescription }}</p>
          {% endif %}

          {% set showTpayBankListAfterSelect = config('TpayShopwarePayment.config.showTpayBankListInOnlineBankTransferPaymentMethodAfterSelectingIt') %}

          {% if
              payment.hasExtension('tpayBankList')
              and (
                false == showTpayBankListAfterSelect
                or (
                  true == showTpayBankListAfterSelect
                  and 'Tpay\\ShopwarePayment\\Payment\\BankTransferPaymentHandler' == payment.handlerIdentifier
                  and selectedPaymentMethodId == payment.id
                )
              )
          %}
              {% sw_include "@TpayShopwarePayment/storefront/component/payment/tpay-bank-selection.html.twig" with {
                  bankList: payment.getExtension('tpayBankList').all(),
                  customer: context.customer
              } %}
          {% endif %}
      </div>
  {% endblock %}
